main{
    width: 100%;
    height: 100vh;
    margin-bottom: 20px;
}
main .container{
    width: 85%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
main .main{
    width: 100%;
    height: calc(100% - 150px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;

}
main .main .left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
main .main .left h1{
    font-size: 70px;
    line-height: 1.2em;
    font-weight: 700;
}
main .main .left p{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--Grayish_Violet);
}
main .main .left button{
    font-size: 20px;
    font-weight: 700;
    color: white;
    width: 200px;
    height: 60px;
    background-color: var(--Cyan);
    border: 1px solid var(--Cyan);
    border-radius: 30px;
    margin-top: 40px;
}

main .main .right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .main .right .img{
    width: 100%;
    height: 100%;
    background-image: url(./../../images/illustration-working.svg);
    background-size: cover;
    position: relative;
    right: -12%;
    overflow: hidden;

}


@media (max-width:375px) {
    main{
        width: 100%;
        height:750px;
        overflow: hidden;
    }
    main .container{
        width: 90%;
        height: 100%;
    }
    main .main{
        width: 100%;
        height: 100%;
        padding-top: 150px;
        flex-direction: column-reverse;
    }
    main .main .left{
        width: 100%;
        height: 50%;
        align-items: center;
    }
    main .main .left h1{
        font-size: 45px;
        font-weight: 700;
        text-align: center;
    }
    main .main .left p{
        font-size: 20px;
    }

    main .main .right{
        width: 100%;
        height: 50%;
    }
    
}