.shorten_link{
    width: 100%;
    height: 100%;
    margin-top: 150px;
    position: relative;
    background-color: rgb(223, 223, 223);

}
section.container{
    width: 85%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.putlink-box{
    width: 100%;
    height: 200px;
    top: -100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
    position: relative;

}

.putlink-box form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--Dark_Violet);
    background-image: url('../../images/bg-shorten-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid var(--Very_Dark_Violet);
    border-radius: 10px;


}
.putlink-box form input[type="url"]{
    width: 75%;
    height: 36%;
    font-size: 18px;
    padding: 20px;
    background-color: white;
    border: 2px solid var(--Dark_Violet);
    border-radius: 15px;
}
.putlink-box form input[type="url"]::placeholder{
    font-size: 20px;
    color: var(--Grayish_Violet);
    font-weight: 700;
}
.putlink-box form input[type="url"]:focus::placeholder{
    color: transparent;
}

.putlink-box form input[type="submit"]{
    width: 15%;
    height: 36%;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    background-color: var(--Cyan);
    border: 1px solid var(--Cyan);
    border-radius: 15px;
}

.short-link{
    width: 100%;
    height: auto;
    /* display: none; */
}
.short-link div{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.short-link div{
    width: 200px;
}